header > div {
  height: 100vh;
  border-bottom-right-radius: 150px;
  background: lightgrey;
}

.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  height: 100vh;
}
.menu ul {
  margin: 0;
  padding: 1.5rem;
}
.menu ul li {
  list-style: none;
  margin-bottom: 0.5rem;
  color: blue;
}
.menu > div {
  height: 100%;
  border-right: 1px solid blue;
}

footer {
  background-color: #181556;
}
footer .footer-content {
  display: flex;
  flex-direction: row;
}
footer .footer-content > * {
  margin: 20px;
}
footer .footer-content > .footer-link {
  display: flex;
  flex-direction: column;
}
footer .footer-content > .footer-link a {
  color: #fff;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "AbhayaLibre-Bold";
  color: #2526CC;
}

@font-face {
  font-family: "AbhayaLibre-Bold";
  src: url("/fonts/AbhayaLibre-Bold.ttf");
}
@font-face {
  font-family: "AbhayaLibre-ExtraBold";
  src: url("/fonts/AbhayaLibre-ExtraBold.ttf");
}
@font-face {
  font-family: "AbhayaLibre-Medium";
  src: url("/fonts/AbhayaLibre-Medium.ttf");
}
@font-face {
  font-family: "AbhayaLibre-Regular";
  src: url("/fonts/AbhayaLibre-Regular.ttf");
}
@font-face {
  font-family: "AbhayaLibre-SemiBold";
  src: url("/fonts/AbhayaLibre-SemiBold.ttf");
}
@font-face {
  font-family: "Livvic-Light";
  src: url("/fonts/Livvic-Light.ttf");
}
@font-face {
  font-family: "TT Commons Light Italic";
  src: url("/fonts/TT Commons Light Italic.otf");
}
@font-face {
  font-family: "TT Commons Light";
  src: url("/fonts/TT Commons Light.otf");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("/fonts/Poppins-Light.ttf");
}
section .section-title {
  color: #2526CC;
}
section .section-content {
  max-width: 40%;
}

.about {
  margin-left: 15%;
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  gap: 10vh;
  background-image: url("/assets/arbre.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: auto;
}
.about h2 {
  font-size: 45px;
  font-family: "Abhaya Libre";
  font-weight: 800;
}
.about p {
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 300;
}

.team-section > .section-title {
  margin: 0;
  font-size: 45pt;
}
.team-section > .section-content {
  font-size: 20pt;
}
.team-section > .section-title, .team-section > .section-content {
  padding: 0 40% 0 10%;
}
.team-section > .team {
  margin: 0 10% 0 10%;
}

.team {
  display: flex;
  flex-direction: column;
}
.team > .team-division {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 100px 0;
}
.team > .team-division > .team-member {
  width: 100%;
}
.team > .team-division > .team-member h3, .team > .team-division > .team-member p, .team > .team-division > .team-member a {
  margin: 0;
}
.team > .team-division > .team-member h3 {
  font-family: "AbhayaLibre-ExtraBold";
  font-size: 25pt;
  color: #2526CC;
}
.team > .team-division > .team-member p {
  font-family: "Poppins-Light";
  font-size: 20pt;
  color: #2526CC;
}
.team > .team-division > .team-member a, .team > .team-division > .team-member a:visited {
  font-family: "Poppins-Light";
  font-size: 20pt;
  color: #DD68F6;
}

body {
  margin: 0;
}
body section {
  min-height: 100vh;
}