header > div {
  height: 100vh;
  border-bottom-right-radius: 150px;
  background: lightgrey;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  height: 100vh;
}

.menu ul {
  margin: 0;
  padding: 1.5rem;
}

.menu ul li {
  list-style: none;
  margin-bottom: 0.5rem;
  color: blue;
}

.menu > div {
  height: 100%;
  border-right: 1px solid blue;
}

footer {
  background-color: #181556;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-content > * {
  margin: 20px;
}

footer .footer-content > .footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-content > .footer-link a {
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Abhaya Libre";
  font-weight: 800;
  color: #2526cc;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 300;
}

@font-face {
  font-family: "AbhayaLibre-Bold";
  src: url("/fonts/AbhayaLibre-Bold.ttf");
}

@font-face {
  font-family: "AbhayaLibre-ExtraBold";
  src: url("/fonts/AbhayaLibre-ExtraBold.ttf");
}

@font-face {
  font-family: "AbhayaLibre-Medium";
  src: url("/fonts/AbhayaLibre-Medium.ttf");
}

@font-face {
  font-family: "AbhayaLibre-Regular";
  src: url("/fonts/AbhayaLibre-Regular.ttf");
}

@font-face {
  font-family: "AbhayaLibre-SemiBold";
  src: url("/fonts/AbhayaLibre-SemiBold.ttf");
}

@font-face {
  font-family: "Livvic-Light";
  src: url("/fonts/Livvic-Light.ttf");
}

@font-face {
  font-family: "TT Commons Light Italic";
  src: url("/fonts/TT Commons Light Italic.otf");
}

@font-face {
  font-family: "TT Commons Light";
  src: url("/fonts/TT Commons Light.otf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("/fonts/Poppins-Light.ttf");
}

body {
  overflow-x: hidden;
}

section .section-title {
  color: #2526cc;
}

section .section-content {
  max-width: 40%;
}

@media (max-width: 1200px) {
  section .section-content {
    max-width: unset;
  }
}

.about {
  padding-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 45px;
  overflow: hidden;
  position: relative;
}

.about .element-about {
  margin-left: 20%;
}

@media (max-width: 1200px) {
  .about .element-about {
    width: 80%;
    margin: auto;
  }
}

.about img {
  position: absolute;
  inset: auto -10% -10% auto;
  height: 120vh;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

@media (max-width: 1200px) {
  .about img {
    position: relative;
    height: 100vh;
    inset: 0;
    margin-bottom: -85px;
  }
}

.projects {
  width: 60%;
  margin: auto;
}

@media (max-width: 1200px) {
  .projects {
    width: 80%;
  }
}

@media (max-width: 750px) {
  .projects {
    width: 80%;
    overflow-x: visible;
  }
}

.projects > p {
  margin-bottom: 10%;
}

.projects-slider {
  width: 100%;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.projects-slider::-webkit-scrollbar {
  display: none;
}

@media (max-width: 750px) {
  .projects-slider {
    width: 101vw;
    margin-left: -13%;
    overflow-x: scroll;
  }
}

.projects-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 45px;
}

@media (max-width: 750px) {
  .projects-all {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0 10%;
  }
}

.projects-all .project-element {
  width: 100%;
}

@media (max-width: 750px) {
  .projects-all .project-element {
    width: 60vw;
  }
}

.projects-all .project-element img {
  width: 100%;
}

.team-section > .section-title {
  margin: 0;
  font-size: 45pt;
}

.team-section > .section-content {
  font-size: 20pt;
}

.team-section > .section-title, .team-section > .section-content {
  padding: 0 40% 0 10%;
}

.team-section > .team {
  margin: 0 10% 0 10%;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team > .team-division {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 100px 0;
}

.team > .team-division > .team-member {
  width: 100%;
}

.team > .team-division > .team-member h3, .team > .team-division > .team-member p, .team > .team-division > .team-member a {
  margin: 0;
}

.team > .team-division > .team-member h3 {
  font-family: "AbhayaLibre-ExtraBold";
  font-size: 25pt;
  color: #2526cc;
}

.team > .team-division > .team-member p {
  font-family: "Poppins-Light";
  font-size: 20pt;
  color: #2526cc;
}

.team > .team-division > .team-member a, .team > .team-division > .team-member a:visited {
  font-family: "Poppins-Light";
  font-size: 20pt;
  color: #dd68f6;
}

body {
  margin: 0;
}

body section {
  min-height: 100vh;
}
