header {
    & > div {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        height: 100vh;
        padding: 3rem;
        background-image: url("/assets/header-bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-width: $bp-medium) {
            padding: 0;
            padding-right: 4rem;
            padding-bottom: 2rem;
        }

        & > div {
            color: white;
            font-family: "Abhaya Libre";
            font-size: 6rem;

            & > img {
                width: 2rem;
            }
        }
    }
}
