header {
    & > div {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        height: 100vh;
        padding-right: 4rem;
        padding-bottom: 2rem;
        background-image: url('/assets/header-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        & > div {
            color: white;
            font-family: "Abhaya Libre";
            font-size: 6rem;

            & > img {
                width: 2rem;
            }
        }
    }
}